#my-account .user-details-wapper{
    /*padding: 10%;*/
    float: none;
    margin: auto;
    display: inline-block;
    box-shadow: 0px 0px 20px #888888;
    text-align: left;
    padding-bottom: 15px;
}

#my-account p{
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 2px;
}

#my-account hr{
    margin-top:0px;
}

#my-account .user-text-wrapper{
    display: inline-block;
    margin-left: 10%;
}

#my-account label{
    margin-top: 15px;
    display: block;
}

#my-account .profile-image{
    margin: 15px 0px;
}

